@import "zlib.v2.less";

.paper {
	.size(980px, 1386px);
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #ccc;
}

header {
	.w100;
	border-bottom: 2px solid #938e8c;

	.web {
		.one-height(60px);
		width: 110px;
		background-color: red;
		color: #fff;
		font-size: 12px;

	}
}